.sshow-container{
   position:relative !important;
   margin:auto !important;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   width:100% !important;
   max-height: 298px !important;
   max-width: 823px !important;
   overflow: hidden;
   z-index:90 !important;
}
.sshow-container .sshow-img{
   position:relative;
   max-height:298px;
   max-width:823px;
   height:100%;
   vertical-align: top;
   overflow: visible;
   transition: transform 4s;
   z-index: -1 !important;
}
.sshow-container .sshow-img ul{
   position: relative;
   width: 10000%;
   height:100%;
   list-style:none;
   overflow:visible;
   margin:0;
   padding:0;
   z-index: -1 !important;
}
.sshow-container .sshow-img ul li{
   position: relative;
   width: 1%;
   height:100%;
   float:left;
   overflow: hidden;
   padding:0 0 0 0 !important;
   margin:0 0 0 0 !important;
   z-index: -1 !important;
}
.slides{
  display:block;
}
.sshow-next{
    position:relative;
    left: 100%;
    animation: wsBasic 4s 1;
   -moz-animation: wsBasic 4s 1;
   -webkit-animation: wsBasic 4s 1;
    animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: transparent;
  border: 3px solid #bbb;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  -webkit-box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  -moz-box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-container{
  width:50%; 
  margin:0 auto;
  top:-35px !important;
  left: 42% !important;
  position:relative;
  float: left;
  z-index: 100 !important;
}

.dot-container ul{
  float: left;
  position: absolute !important;
  left: 0%;
}

.dot-container li{
  list-style-type:none;
}

.next, .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #bbb;
  background-color: rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  -webkit-box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  -moz-box-shadow: 5px 5px 9px -1px rgba(0,0,0,0.54);
  border-radius: 3px 3px 3px 3px;
  z-index: 60 !important;
}

.next{
  right: 0 !important;
}

.prev{
  left: 0 !important;
  z-index: 100 !important;
}

.next:hover, .prev:hover {
  background-color: rgba(0,0,0,1);
}

.active, .dot:hover{
  background-color: #bbb;
}
@keyframes wsBasic{0%{left:-0%} 100%{left:-100%}}
@-moz-keyframes wsBasic{0%{left:-0%} 100%{left:-100%}}
@-webkit-keyframes wsBasic{0%{left:-0%} 100%{left:-100%}}
